<form class="form" action="/cep/register" method="post">

<p id="espaco"><input class="formulario" type="number" name="cep" placeholder="CEP"></p>



<input   class="formulario"  id="enviar" type="submit" value="Confirmar">
